/*cover div for pop-up menus*/
#css3kfa-cover {
	@extend %styles-clear;
	background-color:transparent !important;
	width:100% !important;
	height:100% !important;
	position:fixed !important;
	display:none; /*don't set important*/
}
/*marker*/

$perspective: 600px;
%playstop {
	display:inline-block !important;
	cursor:pointer !important;
	width: 16px !important;
}

/*
.css3kfa-marker,
.css3kfa-move-marker,
.css3kfa-add-marker {
	@extend %styles-clear;
	width: 36px !important;
	height:42px !important;
	position:absolute !important;
	display:none;
	z-index: 90000 !important;
}
*/
.css3kfa-move-marker-active {
	background-image:url('../../images/marker-active.png') !important;
}
.css3kfa-marker {
	background-image:url('../../images/marker1.png') !important;
}


.css3kfa-marker {
	padding:0 !important;
	margin:0 !important;
	outline-width:0 !important;
	border-width:0 !important;
	border-radius:0 !important;
	background-color:transparent !important;
	border-style:solid !important;
	font-family: $font-stack !important;
	line-height:1.2 !important;
	text-align:left !important;	
	background-repeat: no-repeat !important;
	background-clip: border-box !important;	
	width: 36px !important;
	height:42px !important;
	position:absolute !important;
	z-index: 90000;
	background-size:initial !important;
	display:block;
	cursor:pointer !important;
}


.css3kfa-hamburger {
	/*@extend %styles-clear;*/
	width:18px !important; 
	height:18px !important;
	display:inline-block !important;
	cursor:pointer !important;
	background-image:url('../../images/timeline-menubutton1.png') !important;
}
.css3kfa-hamburger:hover { 
	background-image:url('../../images/timeline-menubutton-hover1.png') !important;
}
ul.contextMenuPlugin {
	box-shadow: 2px 2px 2px;
}
ul.contextMenuPlugin > .header {
	background-color: $panel-background-color !important;
}

.css3kfa-reticle {
	@extend %styles-clear;
	border-width: 2px !important;
	border-style: dashed !important;
	border-color: black !important;
	outline-width: 2px !important;
	outline-style: dashed  !important;
	outline-color: white !important;
	position:fixed !important;
	z-index: 100;
}
#css3kfa-waiting-block {
	position:absolute !important;
	z-index: 999999999 !important; 
}

.css3kfa-typemenu {
	/*@extend %styles-clear;*/
	position:absolute !important;
	cursor:pointer !important;
	border-width: 1px !important;
	border-color: $accordion-border-color !important;
	background-color:$accordion-bg-color !important;
	font-size: 16px !important;
	padding: 6px !important;
	border-style:solid !important;
	font-weight: bold !important;
}
.css3kfa-typemenu div {
	padding: 4px !important;
	border-style:solid !important;
	border-width: 1px !important;
	border-color: #F7F3F7 !important;
}
.css3kfa-typemenu div:hover {
	border-width: 1px !important;
	border-color: #ddd !important;
	background-color: #fff !important;
	border-radius: 20px !important;	
}
#css3kfa-loading {
	/*@extend %styles-clear;*/
	position:absolute !important;
	padding: 20px !important;
	font-size: 30px !important;
	border-width: 1px !important;
	border-color: $accordion-border-color !important;
	background-color: $accordion-bg-color !important;
	border-radius: 10px !important;
	border-style:solid !important;
}
/*
.css3kfa-editorbutton {
	background:url('../../images/show-editor.png') no-repeat;
}
.css3kfa-editorbutton:hover {
	background:url('../../images/show-editor-hover.png') no-repeat;
}
.css3kfa-trashbutton {
	background:url('../../images/trash.png') no-repeat;
}
.css3kfa-trashbutton:hover {
	background:url('../../images/trash-hover.png') no-repeat;
}
.css3kfa-closebutton {
	background:url('../../images/close-editor1.png') no-repeat;
}
.css3kfa-closebutton:hover {
	background:url('../../images/close-editor1-hover.png') no-repeat;
}
*/